.h1{
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

/* *{
  background-color: rgb(192, 187, 187);
} */
.root{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color:  rgb(53, 52, 52);

}

.d1{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
  background-color: rgb(165, 161, 161);
  min-height: 100vh;
  max-height:fit-content;
  width: 100vh;
  margin: 10px;
}
/* .d2{
  display: flex;
  margin: 10px;
  
} */
.d2{
  margin: 20px;
}
.d4{
  display: flex;
  margin: 10px;
}
.btn{
  height: 40px;
  width: 100px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}
.inp1{
  height: 40px;
  border-color: black;
  border-width: 3px;
  border-radius: 20px; 
  width: 300px;
}
.inp2{
  height: 40px;
  border-color: black;
  border-width: 3px;
  border-radius: 20px; 
  width: 300px;
}

.d5{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

pre{
  font-size: large;
  /* justify-content: center;
  align-items: center;
  margin-left: 180px; */
}